* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(fff);
}

.form-select-country {
    margin-bottom: 15px;
}

.label-type {
    margin-right: 15px;
}

.main {
    margin: 0 100px 0;
    width: calc(100% - 200);
}

.header {
    background-image: linear-gradient(to bottom, #f0f0f0, white);
    width: 100%;
    padding: 40px 0 30px;
}

.header-title {
    font-size: 45px;
    margin: 0px 0 0px 30px;
    color: black;
}

.header-subtitle {
    font-size: 15px;
    margin: 0 0 20px 30px;
    color: #a1a1a1;
}

.form-container {
    display: flex;
    margin-bottom: 20px;
}

.myform {
    margin: auto;
    margin-top: 10px;
    box-shadow: 0px 0px 10px black;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    flex-direction: column;
    min-width: 500px;
}

.form-title {
    margin: auto;
    margin-bottom: 15px;
}

.label-select {
    margin-right: 20px;
}

.select {
    width: 90px;
}

.search {
    margin: 10px 0 10px;
    border: 2px solid gray;
    width: 270px;
}

.submit {
    width: 80px;
    background-image: linear-gradient(to bottom, silver, rgba(255, 255, 255, 0.7));
    box-shadow: 0 0 2px black;
    border-radius: 5px;
}

.content {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    padding: 0 30px 30px;
}

.card {
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 10px black;
    padding: 10px;
}

.card-title {
    font-size: 28px;
    color: gray;
}

.description {
    color: gray;
}

.card-image {
    max-width: 100%;
    margin: 15px 0 15px;
}

.card-link {
    text-decoration: none;
}

@media screen and (max-width: 1060px) {
    .content {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 810px) {
    .main {
        margin: 0;
    }
}

@media screen and (max-width: 610px) {
    .content {
        grid-template-columns: auto;
        max-width: none;
        padding: 0 20px 0;
    }

    .myform {
        min-width: 100px;
    }

    .form-container {
        max-width: calc(100vw - 40px);
    }

    .description {
        max-width: calc(100vw - 40px);
    }

    .myform {
        width: calc(100vw - 40px);
    }

    .form-container {
        margin: 0 auto 10px;
    }
}